<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="forgot_password/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="forgot_password/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="forgot_password/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="forgot_password/css/util.css">
	<link rel="stylesheet" type="text/css" href="forgot_password/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('forgot_password/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" id="forgot_password">
					<span class="login100-form-title p-b-49">
						Quên mật khẩu
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập mật khẩu mới">
						<span class="label-input100">Mật khẩu mới</span>
						<input class="input100" type="password" name="pass" id="pass" placeholder="Nhập mật khẩu mới">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập lại mật khẩu">
						<span class="label-input100">Xác nhận mật khẩu</span>
						<input class="input100" type="password" name="repass" id="repass" placeholder="Nhập lại mật khẩu">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<a href="signin.html">
							Đăng nhập
						</a>
						|
						<a href="signup.html">
							Đăng ký
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" id="submit_btn">
								Đổi mật khẩu
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="forgot_password/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="forgot_password/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="forgot_password/vendor/bootstrap/js/popper.js"></script>
	<script src="forgot_password/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="forgot_password/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="forgot_password/vendor/daterangepicker/moment.min.js"></script>
	<script src="forgot_password/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="forgot_password/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="forgot_password/js/main_2.js"></script>

</body>
</html>