<!DOCTYPE html>
<html lang="en">
<head>
	<title>Đổi mật khẩu</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/public/images/favicon.png"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/public/css/changePassword/bootstrap.min.css">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/changePassword/font-awesome.min.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/changePassword/animate.css"> -->
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/changePassword/hamburgers.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/changePassword/animsition.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/changePassword/select2.min.css"> -->
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="/public/css/changePassword/daterangepicker.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/util.css">
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/main.css">
	<!-- flaticon.css -->
	<link rel="stylesheet" href="/public/css/homepage/flaticon.css">
	<!-- google-fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
	<!-- style.css -->
	<link rel="stylesheet" href="/public/css/header/change_pass/style.css">
<!--===============================================================================================-->
</head>
<body>	
	<header>
		<!-- ===== header-middle ===== -->
		<div class="header-middle">
			<div class="header-middle-wrapper">
				<div class="container">
					<div class="header-middle-content d-flex justify-content-between align-items-center">
						<!-- ===== brand ===== -->
						<div class="brand">
							<a href="/home">
								<img src="/public/images/homepage/logo/logo2.png" style="width: 220px;height:70px;">
							</a>
						</div>
						<!-- ===== search ===== -->
						<div class="search">
							<div class="search-close-btn d-none">✕</div>
							<form action="javascript:void(0)">
								<button type="submit" class="text-muted">
									<img src="/public/images/homepage/logo/001-loupe.png" style="width: 25px;height:25px;">
								</button>
								<input type="text" id="search-input" spellcheck="false" placeholder="Tìm kiếm sản phẩm ...">
							</form>
						</div>
						<!-- ===== actions ===== -->
						<div class="actions">
							<ul class="d-flex justify-content-between align-items-center">
								<li>
									<a href="">
										<img src="/public/images/homepage/logo/002-question.png" style="width: 25px;height:25px;">
									</a>
									<div class="action-tooltip">
										Trợ giúp
									</div>
								</li>
								<li>
									<a href="/mystore">
										<img src="/public/images/homepage/logo/001-store.png" style="width: 25px;height:25px;">
									</a>
									<!-- <sup class="primary-color">0</sup> -->
									<div class="action-tooltip">
										Cửa hàng của tôi
									</div>
								</li>
								<li>
									<a href="/cart" class="cart-btn">
										<img src="/public/images/homepage/logo/005-shopping-cart-empty-side-view.png" style="width: 25px;height:25px;">
									</a>
									<!-- <sup class="primary-color cart-sup">0</sup> -->
									<div class="action-tooltip">
										Giỏ hàng
									</div>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#loginModal">
										<img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
									</a>
									<div class="menu">
										<ul id="logged-in">
											<li>
												<a href="/users/view-profile">Thông tin tài khoản</a>
											</li>
											<li>
												<a href="/orders/">Đơn hàng của tôi</a>
											</li>
											<li>
												<a href="/users/change-password">Đổi mật khẩu</a>
											</li>
											<li>
												<a href="/api/users/signout">Đăng xuất</a>
											</li>
										</ul>
										<ul id="not-logged-in">
											<li>
												<a href="/users/signup">Đăng ký</a>
											</li>
											<li>
												<a href="/users/signin">Đăng nhập</a>
											</li>
										</ul>
									</div>                                   
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ===== header-bottom ===== -->
		<div class="header-bottom">
			<div class="header-bottom-wrapper">
				<div class="container">
					<div class="header-bottom-content d-flex justify-content-between align-items-center">
						<!-- ===== brand-and-categories ===== -->
						<div class="brand-and-categories d-flex">
							<!-- ===== brand ===== -->
							<div class="brand">
								<a href="/home">
									<img src="/public/images/homepage/logo/logo.png" style="width: 70px;height:70px;margin-left: 50px;">
								</a>
							</div>
							<!-- ===== categories ===== -->
							<div class="categories position-relative dropdownn">
								<!-- categories-top -->
								<div
									class="categories-top-content dropdown-top d-flex justify-content-between align-items-center">
									<i class="flaticon-menu"></i>
									<p>Danh mục</p>
									<i class="flaticon-down-arrow"></i>
								</div>
								<!-- categories-dropdown -->
								<div class="categories-dropdown">
									<ul class="categories-ul">
                                    <template id="category-template">
                                     <!-- li-content --> 
                                        <li>                                                                                     
                                            <div class="li-content d-flex">
                                                <a class="category-link" href="/products/category">
                                                    <div class="left-content d-flex">                                                    
                                                        <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
                                                        <p class="category-name">Thể loại</p>                                                                                                 
                                                    </div>
                                                </a>                                                   
                                            </div>     
                                        </li>      
                                    </template>                                                           
                                </ul>
								</div>
							</div>
						</div>
						<!-- ===== nav-links ===== -->
						<div class="nav-links">
							<div class="nav-menu-header sidebar-menu-header">
								<button type="button" class="d-flex align-items-center">
									<span class="mr-2">✖</span>
									<p>Close</p>
								</button>
							</div>
							<ul class="d-flex">
								<li>
									<a href="/products/best-seller">Sách bán chạy</a>
								</li>
								<li>
									<a href="/products/new-product">Sách mới</a>
								</li>
								<!-- <li>
									<a href="#">Sách đang hạ giá</a>
								</li>
								<li>
									<a href="#">Số lượng có hạn</a>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- ======= HEADER - End ======= -->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" id="change_password">
					<span class="login100-form-title p-b-49">
						Đổi mật khẩu
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập mật khẩu cũ">
						<span class="label-input100">Mật khẩu cũ:</span>
						<input class="input100" type="password" name="oldpass" id="oldpass" placeholder="Nhập mật khẩu cũ">
						<span class="focus-input100" data-symbol="&#xf260;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập mật khẩu mới">
						<span class="label-input100">Mật khẩu mới:</span>
						<input class="input100" type="password" name="pass" id="pass" placeholder="Nhập mật khẩu mới">
						<span class="focus-input100" data-symbol="&#xf260;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập lại mật khẩu">
						<span class="label-input100">Xác nhận mật khẩu mới:</span>
						<input class="input100" type="password" name="repass" id="repass" placeholder="Nhập lại mật khẩu mới">
						<span class="focus-input100" data-symbol="&#xf260;"></span>
					</div>
					
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<input type="button" class="login100-form-btn" id="back_btn" onclick="javascript:history.back()" value="Quay lại">
						</div>
						<div class="wrap-login100-form-btn">
							<input type="submit" class="login100-form-btn" id="submit_btn" value="Đổi mật khẩu">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	

	<!-- <script src="/public/js/changePassword/jquery-3.2.1.min.js"></script>

	<script src="/public/js/changePassword/animsition.min.js"></script>

	<script src="/public/js/changePassword/popper.js"></script>
	<script src="/public/js/changePassword/bootstrap.min.js"></script>

	<script src="/public/js/changePassword/select2.min.js"></script>

	<script src="/public/js/changePassword/moment.min.js"></script>
	<script src="/public/js/changePassword/daterangepicker.js"></script>

	<script src="/public/js/changePassword/countdowntime.js"></script> -->

	<script src="/public/js/changePassword/main.js"></script>
	<!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <!-- main.js -->
        <script src="/public/js/header/main.js"></script>

</body>
</html>