<!DOCTYPE html>
<html lang="en">
<head>
	<title>Đổi mật khẩu</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/public/images/favicon.png"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/public/css/changePassword/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/util.css">
	<link rel="stylesheet" type="text/css" href="/public/css/changePassword/main.css">
<!--===============================================================================================-->
</head>
<body>	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" id="change_password">
					<span class="login100-form-title p-b-49">
						Đổi mật khẩu
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập mật khẩu cũ">
						<span class="label-input100">Mật khẩu cũ:</span>
						<input class="input100" type="password" name="oldpass" id="oldpass" placeholder="Nhập mật khẩu cũ">
						<span class="focus-input100" data-symbol="&#xf260;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập mật khẩu mới">
						<span class="label-input100">Mật khẩu mới:</span>
						<input class="input100" type="password" name="pass" id="pass" placeholder="Nhập mật khẩu mới">
						<span class="focus-input100" data-symbol="&#xf260;"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Vui lòng nhập lại mật khẩu">
						<span class="label-input100">Xác nhận mật khẩu mới:</span>
						<input class="input100" type="password" name="repass" id="repass" placeholder="Nhập lại mật khẩu mới">
						<span class="focus-input100" data-symbol="&#xf260;"></span>
					</div>
					
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<input type="button" class="login100-form-btn" id="back_btn" onclick="javascript:history.back()" value="Quay lại">
						</div>
						<div class="wrap-login100-form-btn">
							<input type="submit" class="login100-form-btn" id="submit_btn" value="Đổi mật khẩu">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/public/js/changePassword/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/changePassword/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/changePassword/popper.js"></script>
	<script src="/public/js/changePassword/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/changePassword/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/changePassword/moment.min.js"></script>
	<script src="/public/js/changePassword/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/changePassword/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/public/js/changePassword/main.js"></script>

</body>
</html>