<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
  <!--  All snippets are MIT license http://bootdey.com/license -->
  <title>Danh sách đơn hàng</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/public/images/favicon.png">
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="/public/css/listOrder_ViewSeller/styles.css">
  <!-- flaticon.css -->
  <link rel="stylesheet" href="/public/css/homepage/flaticon.css">
  <!-- google-fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
  <!-- style.css -->
  <link rel="stylesheet" href="/public/css/header/table_page2/style.css">
</head>
<body>
  <header>
    <!-- ===== header-middle ===== -->
    <div class="header-middle">
        <div class="header-middle-wrapper">
            <div class="container">
                <div class="header-middle-content d-flex justify-content-between align-items-center">
                    <!-- ===== brand ===== -->
                    <div class="brand">
                        <a href="/home">
                            <img src="/public/images/homepage/logo/logo2.png" style="width: 220px;height:70px;">
                        </a>
                    </div>
                    <!-- ===== search ===== -->
                    <div class="search">
                        <div class="search-close-btn d-none">✕</div>
                        <form action="javascript:void(0)" style="padding: 0px;">
                            <button type="submit" class="text-muted">
                                <img src="/public/images/homepage/logo/001-loupe.png" style="width: 25px;height:25px;">
                            </button>
                            <input type="text" id="search-input" spellcheck="false" placeholder="Tìm kiếm sản phẩm ...">
                        </form>
                    </div>
                    <!-- ===== actions ===== -->
                    <div class="actions">
                        <ul class="d-flex justify-content-between align-items-center">
                            <li>
                                <a href="">
                                    <img src="/public/images/homepage/logo/002-question.png" style="width: 25px;height:25px;">
                                </a>
                                <div class="action-tooltip">
                                    Trợ giúp
                                </div>
                            </li>
                            <li>
                                <a href="/mystore">
                                    <img src="/public/images/homepage/logo/001-store.png" style="width: 25px;height:25px;">
                                </a>
                                <!-- <sup class="primary-color">0</sup> -->
                                <div class="action-tooltip">
                                    Cửa hàng của tôi
                                </div>
                            </li>
                            <li>
                                <a href="/cart" class="cart-btn">
                                    <img src="/public/images/homepage/logo/005-shopping-cart-empty-side-view.png" style="width: 25px;height:25px;">
                                </a>
                                <!-- <sup class="primary-color cart-sup">0</sup> -->
                                <div class="action-tooltip">
                                    Giỏ hàng
                                </div>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#loginModal">
                                    <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
                                </a>
                                <div class="menu">
                                    <ul id="logged-in">
                                        <li>
                                            <a href="/users/view-profile">Thông tin tài khoản</a>
                                        </li>
                                        <li>
                                            <a href="/orders/">Đơn hàng của tôi</a>
                                        </li>
                                        <li>
                                            <a href="/users/change-password">Đổi mật khẩu</a>
                                        </li>
                                        <li>
                                            <a href="/api/users/signout">Đăng xuất</a>
                                        </li>
                                    </ul>
                                    <ul id="not-logged-in">
                                        <li>
                                            <a href="/users/signup">Đăng ký</a>
                                        </li>
                                        <li>
                                            <a href="/users/signin">Đăng nhập</a>
                                        </li>
                                    </ul>
                                </div>                                   
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===== header-bottom ===== -->
    <div class="header-bottom">
        <div class="header-bottom-wrapper">
            <div class="container">
                <div class="header-bottom-content d-flex justify-content-between align-items-center">
                    <!-- ===== brand-and-categories ===== -->
                    <div class="brand-and-categories d-flex">
                        <!-- ===== brand ===== -->
                        <div class="brand">
                            <a href="/home">
                                <img src="/public/images/homepage/logo/logo.png" style="width: 70px;height:70px;margin-left: 50px;">
                            </a>
                        </div>
                        <!-- ===== categories ===== -->
                        <div class="categories position-relative dropdownn">
                            <!-- categories-top -->
                            <div
                                class="categories-top-content dropdown-top d-flex justify-content-between align-items-center">
                                <i class="flaticon-menu"></i>
                                <p>Danh mục</p>
                                <i class="flaticon-down-arrow"></i>
                            </div>
                            <!-- categories-dropdown -->
                            <div class="categories-dropdown">
                                <ul class="categories-ul">
                                    <template id="category-template">
                                     <!-- li-content --> 
                                        <li>                                                                                     
                                            <div class="li-content d-flex">
                                                <a class="category-link" href="/products/category">
                                                    <div class="left-content d-flex">                                                    
                                                        <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
                                                        <p class="category-name">Thể loại</p>                                                                                                 
                                                    </div>
                                                </a>                                                   
                                            </div>     
                                        </li>      
                                    </template>                                                           
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ===== nav-links ===== -->
                    <div class="nav-links">
                        <div class="nav-menu-header sidebar-menu-header">
                            <button type="button" class="d-flex align-items-center">
                                <span class="mr-2">✖</span>
                                <p>Close</p>
                            </button>
                        </div>
                        <ul class="d-flex">
                            <li>
                                <a href="/products/best-seller">Sách bán chạy</a>
                            </li>
                            <li>
                                <a href="/products/new-product">Sách mới</a>
                            </li>
                            <!-- <li>
                                <a href="#">Sách đang hạ giá</a>
                            </li>
                            <li>
                                <a href="#">Số lượng có hạn</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ======= HEADER - End ======= -->
<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
      <div class="card-header">
          <h2>Danh sách đơn hàng</h2>
      </div>
      <div class="card-body">
        <table id="orders-list" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th style="width:65%">Mã đơn hàng</th>
              <th style="width:20%">Tình trạng</th>
              <th style="width:15%">Tổng tiền</th>
              <!-- <th style="width:10%"></th> -->
            </tr>
        </thead>
        <tbody id="order-list">
            <template id="order-template">
                <tr>
                    <td data-th="order">
                    <div class="row">
                        <div class="col-sm-10">
                        <h4 class="nomargin order-id">Mã đơn hàng</h4>
                        </div>
                        <div>
                        <a class="view-detail" href="/mystore/orders/">Chi tiết</a>
                        </div>
                    </div>
                    </td>
                    <td data-th="status" class="status">Đang xử lý</td>
                    <td data-th="Subtotal" class="text-left subtotal">1.99</td>
                </tr>
            </template>
        </tbody>
      </table>
      <hr>
      <div class="buttons">
        <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" onclick="window.location.href = '/mystore'">Quay lại</button>
      </div>       
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://use.fontawesome.com/a93c29b7d5.js"></script>
<script src="/public/js/listOrder_ViewSeller/scripts.js"></script>
<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<!-- main.js -->
<script src="/public/js/header/main.js"></script>
</body>
</html>