<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thông tin cá nhân</title>
  <link rel="icon" type="image/png" href="/public/images/signin/favicon.png"/>
	<link rel="stylesheet" href="/public/css/viewProfile/styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<form class="login100-form validate-form" id="profile_form"></form>
  <div class="wrapper">
    <div class="left">
        <img id="avt" src="https://i.imgur.com/cMy8V5j.png" alt="user" width="100">
    </div>
    <div class="right">
        <div class="info">
            <h3>Thông tin cá nhân</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Họ và tên:</h4>
                    <p id="name"></p>
                </div>
                <div class="data">
                  <h4>Ngày sinh:</h4>
                  <p id="dob"></p>
                </div>
                <div class="data">
                  <h4>Email:</h4>
                  <p id="email"></p>
               </div>
                 <div class="data">
                   <h4>Số điện thoại:</h4>
                    <p id="phone"></p>
              </div>
            </div>
        </div>     
        <div class="setting_btn">
            <ul>
              <li><a href="/">Quay lại</a></li>
              <li><a href="/users/change-profile">Chỉnh sửa thông tin</a></li>             
          </ul>
      </div>
    </div>
  </div>
</form>
<script src="/public/js/viewProfile/main.js"></script>
</body>
</html>