<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
    <link rel="icon" href="/public/assets/favicon.ico">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/public/css/productViewSeller/style.css">
    <!-- flaticon.css -->
  <link rel="stylesheet" href="/public/css/homepage/flaticon.css">
  <!-- google-fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
  <!-- style.css -->
  <link rel="stylesheet" href="/public/css/header/table_page2/style.css">
   <!-- Bootstrap icons-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

</head>
<body>
    <header>
        <!-- ===== header-middle ===== -->
        <div class="header-middle">
            <div class="header-middle-wrapper">
                <div class="container">
                    <div class="header-middle-content d-flex justify-content-between align-items-center">
                        <!-- ===== brand ===== -->
                        <div class="brand">
                            <a href="/home">
                                <img src="/public/images/homepage/logo/logo2.png" style="width: 220px;height:70px;">
                            </a>
                        </div>
                        <!-- ===== search ===== -->
                        <div class="search">
                            <div class="search-close-btn d-none">✕</div>
                            <form action="javascript:void(0)">
                                <button type="submit" class="text-muted">
                                    <img src="/public/images/homepage/logo/001-loupe.png" style="width: 25px;height:25px;">
                                </button>
                                <input type="text" id="search-input" spellcheck="false" placeholder="Tìm kiếm sản phẩm ...">
                            </form>
                        </div>
                        <!-- ===== actions ===== -->
                        <div class="actions">
                            <ul class="d-flex justify-content-between align-items-center">
                                <li>
                                    <a href="">
                                        <img src="/public/images/homepage/logo/002-question.png" style="width: 25px;height:25px;">
                                    </a>
                                    <div class="action-tooltip">
                                        Trợ giúp
                                    </div>
                                </li>
                                <li>
                                    <a href="/mystore">
                                        <img src="/public/images/homepage/logo/001-store.png" style="width: 25px;height:25px;">
                                    </a>
                                    <!-- <sup class="primary-color">0</sup> -->
                                    <div class="action-tooltip">
                                        Cửa hàng của tôi
                                    </div>
                                </li>
                                <li>
                                    <a href="/cart" class="cart-btn">
                                        <img src="/public/images/homepage/logo/005-shopping-cart-empty-side-view.png" style="width: 25px;height:25px;">
                                    </a>
                                    <!-- <sup class="primary-color cart-sup">0</sup> -->
                                    <div class="action-tooltip">
                                        Giỏ hàng
                                    </div>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#loginModal">
                                        <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
                                    </a>
                                    <div class="menu">
                                        <ul id="logged-in">
                                            <li>
                                                <a href="/users/view-profile">Thông tin tài khoản</a>
                                            </li>
                                            <li>
                                                <a href="/orders/">Đơn hàng của tôi</a>
                                            </li>
                                            <li>
                                                <a href="/users/change-password">Đổi mật khẩu</a>
                                            </li>
                                            <li>
                                                <a href="/api/users/signout">Đăng xuất</a>
                                            </li>
                                        </ul>
                                        <ul id="not-logged-in">
                                            <li>
                                                <a href="/users/signup">Đăng ký</a>
                                            </li>
                                            <li>
                                                <a href="/users/signin">Đăng nhập</a>
                                            </li>
                                        </ul>
                                    </div>                                   
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== header-bottom ===== -->
        <div class="header-bottom">
            <div class="header-bottom-wrapper">
                <div class="container">
                    <div class="header-bottom-content d-flex justify-content-between align-items-center">
                        <!-- ===== brand-and-categories ===== -->
                        <div class="brand-and-categories d-flex">
                            <!-- ===== brand ===== -->
                            <div class="brand">
                                <a href="/home">
                                    <img src="/public/images/homepage/logo/logo.png" style="width: 70px;height:70px;margin-left: 50px;">
                                </a>
                            </div>
                            <!-- ===== categories ===== -->
                            <div class="categories position-relative dropdownn">
                                <!-- categories-top -->
                                <div
                                    class="categories-top-content dropdown-top d-flex justify-content-between align-items-center">
                                    <i class="flaticon-menu"></i>
                                    <p>Danh mục</p>
                                    <i class="flaticon-down-arrow"></i>
                                </div>
                                <!-- categories-dropdown -->
                                <div class="categories-dropdown">
                                    <ul class="categories-ul">
                                    <template id="category-template">
                                     <!-- li-content --> 
                                        <li>                                                                                     
                                            <div class="li-content d-flex">
                                                <a class="category-link" href="/products/category">
                                                    <div class="left-content d-flex">                                                    
                                                        <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
                                                        <p class="category-name">Thể loại</p>                                                                                                 
                                                    </div>
                                                </a>                                                   
                                            </div>     
                                        </li>      
                                    </template>                                                           
                                </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ===== nav-links ===== -->
                        <div class="nav-links">
                            <div class="nav-menu-header sidebar-menu-header">
                                <button type="button" class="d-flex align-items-center">
                                    <span class="mr-2">✖</span>
                                    <p>Close</p>
                                </button>
                            </div>
                            <ul class="d-flex">
                                <li>
                                    <a href="/products/best-seller">Sách bán chạy</a>
                                </li>
                                <li>
                                    <a href="/products/new-product">Sách mới</a>
                                </li>
                                <!-- <li>
                                    <a href="#">Sách đang hạ giá</a>
                                </li>
                                <li>
                                    <a href="#">Số lượng có hạn</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ======= HEADER - End ======= -->
<!-- partial:index.partial.html -->
<main class="main">
    <div class="mainWrapper">
                <div class="column small-centered">
                    <div class="productCard_block">
                        <div class="row">
                            <div class="small-12 large-6 columns">
                                <div class="productCard_leftSide clearfix">

                                    <div class="sliderBlock">
                                        <ul class="sliderBlock_items">
                                            <li class="sliderBlock_items__itemPhoto sliderBlock_items__showing">
                                                <img src="https://github.com/BlackStar1991/CardProduct/blob/master/app/img/goods/item1/phones1.png?raw=true" alt="product-image" id="image-1">
                                            </li>
                                            <li class="sliderBlock_items__itemPhoto">
                                                <img src="https://github.com/BlackStar1991/CardProduct/blob/master/app/img/goods/item1/phones2.png?raw=true"  alt="product-image" id="image-2">
                                            </li>
                                            <li class="sliderBlock_items__itemPhoto">
                                                <img src="https://github.com/BlackStar1991/CardProduct/blob/master/app/img/goods/item1/phones3.png?raw=true"  alt="product-image" id="image-3">
                                            </li>
                                            <li class="sliderBlock_items__itemPhoto">
                                                <img src="https://github.com/BlackStar1991/CardProduct/blob/master/app/img/goods/item1/phones4.png?raw=true"  alt="product-image" id="image-4">
                                            </li>
                                            <li class="sliderBlock_items__itemPhoto">
                                                <img src="https://github.com/BlackStar1991/CardProduct/blob/master/app/img/goods/item1/phones5.png?raw=true"  alt="product-image" id="image-5">
                                            </li>
                                        </ul>

                                        
                                        <div class="sliderBlock_controls">
                                            <div class="sliderBlock_controls__navigatin">
                                                <div class="sliderBlock_controls__wrapper">
                                                    <div class="sliderBlock_controls__arrow sliderBlock_controls__arrowBackward" id="prev-image">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="sliderBlock_controls__arrow sliderBlock_controls__arrowForward" id="next-image">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <ul class="sliderBlock_positionControls">
                                                <li class="sliderBlock_positionControls__paginatorItem sliderBlock_positionControls__active"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-12 large-6 columns">
                                <div class="productCard_rightSide">

                                    <div class="block_product">
                                        <h2 class="block_name block_name__mainName" id="product-name">Tên sản phẩm</h2>
                                        <p class="block_product__advantagesProduct">
                                            Thể loại: <span class="block_product__advantagesProduct" id="category-name">tên thể loại</span>
                                        </p>
                                        <p class="block_product__advantagesProduct">
                                            Tác giả: <span class="block_product__advantagesProduct" id="author">tên tác giả</span>
                                        </p>
                                        <p class="block_product__advantagesProduct">
                                            Số trang: <span class="block_product__advantagesProduct" id="number-of-page">số trang</span>
                                        </p>
                                        <p class="block_product__advantagesProduct">
                                            Năm xuất bản: <span  class="block_product__advantagesProduct"id="publishing-year">năm xuất bản</span>
                                        </p>
                                        <p class="block_product__advantagesProduct">
                                            Nhà xuất bản: <span class="block_product__advantagesProduct" id="publisher">nhà xuất bản</span>
                                        </p>
                                        <p class="block_product__advantagesProduct">
                                            Số lượng còn lại: <span class="block_product__advantagesProduct" id="quantity">số lượng</span>
                                        </p>
                                        <div class="block_product__advantagesProduct">
                                            Mô tả sản phẩm: <span class="block_product__advantagesProduct"id="description">mô tả</span>
                                        </div>

                                            <!-- <div class="block_rating clearfix">
                                                <fieldset class="block_rating__stars">
                                                    <input type="radio" id="star5" name="rating" value="5"/><label
                                                        class="full" for="star5" title="Awesome - 5 stars"></label>
                                                    <input type="radio" id="star4half" name="rating"
                                                           value="4 and a half"/><label class="half" for="star4half"
                                                                                        title="Pretty good - 4.5 stars"></label>
                                                    <input type="radio" id="star4" name="rating" value="4"/><label
                                                        class="full" for="star4" title="Good - 4 stars"></label>
                                                    <input type="radio" id="star3half" name="rating"
                                                           value="3 and a half"/><label class="half" for="star3half"
                                                                                        title="Above average - 3.5 stars"></label>
                                                    <input type="radio" id="star3" name="rating" value="3"/><label
                                                        class="full" for="star3" title="Average - 3 stars"></label>
                                                    <input type="radio" id="star2half" name="rating"
                                                           value="2 and a half"/><label class="half" for="star2half"
                                                                                        title="Kinda bad - 2.5 stars"></label>
                                                    <input type="radio" id="star2" name="rating" value="2"/><label
                                                        class="full" for="star2"
                                                        title="Kinda bad - 2 stars"></label>
                                                    <input type="radio" id="star1half" name="rating"
                                                           value="1 and a half"/><label class="half" for="star1half"
                                                                                        title="Meh - 1.5 stars"></label>
                                                    <input type="radio" id="star1" name="rating" value="1"/><label
                                                        class="full" for="star1"
                                                        title="Sucks big time - 1 star"></label>
                                                    <input type="radio" id="starhalf" name="rating"
                                                           value="half"/><label
                                                        class="half" for="starhalf"
                                                        title="Sucks big time - 0.5 stars"></label>
                                                </fieldset>

                                                <span class="block_rating__avarage">4.25</span>

                                            </div> -->
                                            <div class="row ">
                                                <div class="large-6 small-12 column left-align">
                                                    <div class="block_price">
                                                        <p class="block_price__currency">Giá: <span id="price" class="block_price__currency">giá</span> VND</p>
                                                    </div>
                                                    <input type="submit" class="button button_delCard" id="delete-product" onclick="delete_product()" value="Xóa sản phẩm">
                                                </div>
                                                <div class="large-6 small-12 column end">
                                                    <input type="button" class="button button_addToCard" id="edit-product" onclick="location.href = '/products/edit-product/'" value="Chỉnh sửa sản phẩm">
                                                </div>
                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="details">
                                <h4>Thông tin chi tiết về sản phẩm</h4>
                                <p id="details">bruh</p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</main>


<!-- partial -->
  <script  src="/public/js/productViewSeller/script.js"></script>
  <!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<!-- main.js -->
<script src="/public/js/header/main.js"></script>

</body>
</html>
