<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Đăng ký</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Favicon-->
	<link rel="icon" type="image/png" href="/public/images/favicon.png"/>
	<!-- Font
	<link rel="stylesheet" type="text/css" href="/public/css/signup/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="/public/css/signup/fontawesome-all.min.css">-->
	<!-- Main Style Css -->
    <link rel="stylesheet" href="/public/css/stroreRegistration/style.css"/>
	<!-- flaticon.css -->
	<link rel="stylesheet" href="/public/css/homepage/flaticon.css">
	<!-- google-fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
	<!-- style.css -->
	<link rel="stylesheet" href="/public/css/header/profile/style.css">
	<!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body class="form-v5">
	<header>
		<!-- ===== header-middle ===== -->
		<div class="header-middle">
			<div class="header-middle-wrapper">
				<div class="container">
					<div class="header-middle-content d-flex justify-content-between align-items-center">
						<!-- ===== brand ===== -->
						<div class="brand">
							<a href="/home">
								<img src="/public/images/homepage/logo/logo2.png" style="width: 220px;height:70px;">
							</a>
						</div>
						<!-- ===== search ===== -->
						<div class="search">
							<div class="search-close-btn d-none">✕</div>
							<form action="javascript:void(0)">
								<button type="submit" class="text-muted">
									<img src="/public/images/homepage/logo/001-loupe.png" style="width: 25px;height:25px;">
								</button>
								<input type="text" id="search-input" spellcheck="false" placeholder="Tìm kiếm sản phẩm ...">
							</form>
						</div>
						<!-- ===== actions ===== -->
						<div class="actions">
							<ul class="d-flex justify-content-between align-items-center">
								<li>
									<a href="">
										<img src="/public/images/homepage/logo/002-question.png" style="width: 25px;height:25px;">
									</a>
									<div class="action-tooltip">
										Trợ giúp
									</div>
								</li>
								<li>
									<a href="/mystore">
										<img src="/public/images/homepage/logo/001-store.png" style="width: 25px;height:25px;">
									</a>
									<!-- <sup class="primary-color">0</sup> -->
									<div class="action-tooltip">
										Cửa hàng của tôi
									</div>
								</li>
								<li>
									<a href="/cart" class="cart-btn">
										<img src="/public/images/homepage/logo/005-shopping-cart-empty-side-view.png" style="width: 25px;height:25px;">
									</a>
									<!-- <sup class="primary-color cart-sup">0</sup> -->
									<div class="action-tooltip">
										Giỏ hàng
									</div>
								</li>
								<li>
									<a href="#" data-toggle="modal" data-target="#loginModal">
										<img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
									</a>
									<div class="menu">
										<ul id="logged-in">
											<li>
												<a href="/users/view-profile">Thông tin tài khoản</a>
											</li>
											<li>
												<a href="/orders/">Đơn hàng của tôi</a>
											</li>
											<li>
												<a href="/users/change-password">Đổi mật khẩu</a>
											</li>
											<li>
												<a href="/api/users/signout">Đăng xuất</a>
											</li>
										</ul>
										<ul id="not-logged-in">
											<li>
												<a href="/users/signup">Đăng ký</a>
											</li>
											<li>
												<a href="/users/signin">Đăng nhập</a>
											</li>
										</ul>
									</div>                                   
								</li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ===== header-bottom ===== -->
		<div class="header-bottom">
			<div class="header-bottom-wrapper">
				<div class="container">
					<div class="header-bottom-content d-flex justify-content-between align-items-center">
						<!-- ===== brand-and-categories ===== -->
						<div class="brand-and-categories d-flex">
							<!-- ===== brand ===== -->
							<div class="brand">
								<a href="/home">
									<img src="/public/images/homepage/logo/logo.png" style="width: 70px;height:70px;margin-left: 50px;">
								</a>
							</div>
							<!-- ===== categories ===== -->
							<div class="categories position-relative dropdownn">
								<!-- categories-top -->
								<div
									class="categories-top-content dropdown-top d-flex justify-content-between align-items-center">
									<i class="flaticon-menu"></i>
									<p>Danh mục</p>
									<i class="flaticon-down-arrow"></i>
								</div>
								<!-- categories-dropdown -->
								<div class="categories-dropdown">
									<ul class="categories-ul">
										 <!-- li-content --> 
										 <li>                                                                                     
											 <div class="li-content d-flex">
												 <a href="/products/category">
													 <div class="left-content d-flex">                                                    
														 <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														 <p>Thể loại</p>                                                                                                 
													 </div>
												 </a>                                                   
											 </div>     
										 </li>      
										  <!-- li-content --> 
										<hr>
										<li>                                                                                     
											<div class="li-content d-flex">
												<a href="/products/category">
													<div class="left-content d-flex">                                                    
														<img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														<p>Thể loại</p>                                                                                                 
													</div>
												</a>                                                   
											</div>     
										</li>       
										 <!-- li-content --> 
										 <hr>
										 <li>                                                                                     
											 <div class="li-content d-flex">
												 <a href="/products/category">
													 <div class="left-content d-flex">                                                    
														 <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														 <p>Thể loại</p>                                                                                                 
													 </div>
												 </a>                                                   
											 </div>     
										 </li>      
										  <!-- li-content --> 
										<hr>
										<li>                                                                                     
											<div class="li-content d-flex">
												<a href="/products/category">
													<div class="left-content d-flex">                                                    
														<img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														<p>Thể loại</p>                                                                                                 
													</div>
												</a>                                                   
											</div>     
										</li>      
										 <!-- li-content --> 
										 <hr>
										 <li>                                                                                     
											 <div class="li-content d-flex">
												 <a href="/products/category">
													 <div class="left-content d-flex">                                                    
														 <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														 <p>Thể loại</p>                                                                                                 
													 </div>
												 </a>                                                   
											 </div>     
										 </li>      
										  <!-- li-content --> 
										<hr>
										<li>                                                                                     
											<div class="li-content d-flex">
												<a href="/products/category">
													<div class="left-content d-flex">                                                    
														<img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														<p>Thể loại</p>                                                                                                 
													</div>
												</a>                                                   
											</div>     
										</li>     
										 <!-- li-content --> 
										 <hr>
										 <li>                                                                                     
											 <div class="li-content d-flex">
												 <a href="/products/category">
													 <div class="left-content d-flex">                                                    
														 <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														 <p>Thể loại</p>                                                                                                 
													 </div>
												 </a>                                                   
											 </div>     
										 </li>     
										  <!-- li-content --> 
										<hr>
										<li>                                                                                     
											<div class="li-content d-flex">
												<a href="/products/category">
													<div class="left-content d-flex">                                                    
														<img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														<p>Thể loại</p>                                                                                                 
													</div>
												</a>                                                   
											</div>     
										</li>      
										 <!-- li-content --> 
										 <hr>
										 <li>                                                                                     
											 <div class="li-content d-flex">
												 <a href="/products/category">
													 <div class="left-content d-flex">                                                    
														 <img src="/public/images/homepage/logo/006-user.png" style="width: 25px;height:25px;">
														 <p>Thể loại</p>                                                                                                 
													 </div>
												 </a>                                                   
											 </div>     
										 </li>                                                                    
									</ul>
								</div>
							</div>
						</div>
						<!-- ===== nav-links ===== -->
						<div class="nav-links">
							<div class="nav-menu-header sidebar-menu-header">
								<button type="button" class="d-flex align-items-center">
									<span class="mr-2">✖</span>
									<p>Close</p>
								</button>
							</div>
							<ul class="d-flex">
								<li>
									<a href="/products/best-seller">Sách bán chạy</a>
								</li>
								<li>
									<a href="/products/new-product">Sách mới</a>
								</li>
								<!-- <li>
									<a href="#">Sách đang hạ giá</a>
								</li>
								<li>
									<a href="#">Số lượng có hạn</a>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- ======= HEADER - End ======= -->
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="#" method="post" id="signupform">
				<h2>Đăng Ký Cửa Hàng</h2>
				<div class="form-row">
					<label for="name">Tên cửa hàng</label>
					<input type="text" name="name" id="name" class="input-text" placeholder="Nhập tên cửa hàng" required>
				</div>				
				<div class="form-row">
					<label for="email">Email</label>
					<input type="email" name="your-email" id="email" class="input-text" placeholder="Email" required>
				</div>	
				<div class="form-row">
					<label for="phone">Số điện thoại</label>
					<input type="tel" name="your-phone" id="phone" class="input-text" placeholder="Số điện thoại" required pattern="[0-9]{10}">
				</div>	
				<div class="form-row">
					<label for="description">Mô tả</label>
					<textarea rows="20" cols="79" name="des" id="des" placeholder="Nhập mô tả cửa hàng" form="usrform"> 
					</textarea>	
				<div class="form-row-last">
					<button type="button" class="register" onclick="history.back()">Quay lại</button>
					<input type="submit" name="register" class="register" value="Đăng ký">					
				</div>
			</form>
		</div>
	</div>
	<script src="/public/js/stroreRegistration/main.js"></script>
	<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<!-- main.js -->
<script src="/public/js/header/main.js"></script>
</html>